<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- saved from url=(0022)http://secondlife.com/ -->
<html class="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script async="" src="/game/fbevents.js"></script>
    <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    <script type="text/javascript" async="" src="/game/geo2.js"></script>
    <script src="/game/analytics.js"></script>
    <script src="/game/bindImmediate-.js"></script>
    <script src="/game/bindImmediate-2.js"></script>
    <script type="text/javascript" async="" src="/game/bindImmediate.js"></script>
    <!-- <script src="/game/serverComponent.php"></script> -->
    <link href="/game/css" rel="stylesheet" type="text/css">

    <meta http-equiv="imagetoolbar" content="no">
    <meta name="description" content="爱宁都肉丸.">
    <meta name="keywords" content="爱宁都肉丸">
    <meta name="mat" content="PG_NOT">
    <meta name="viewport" content="width = device-width">
    <meta name="viewport" content="width = 834">
    <meta name="p:domain_verify" content="d6cd86a845f5155403783fbefe8bc03c">


    <script type="text/javascript" async="" src="/game/conversion_async.js"></script>
    <script type="text/javascript" src="/game/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/game/jquery-migrate-1.2.1.min.js"></script>

        <script type="text/javascript">
            window.ensighten_agentid = '';
            window.ensighten_customer_type = 'new';
            window.ensighten_is_premium = 'false';
            window.ensighten_accessed_viewer = 'false';
        </script>
    <script type="text/javascript" src="/game/Bootstrap.js"></script>
    <meta property="fb:app_id" content="139036336117479">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DestinationGuide">
    <link rel="canonical" href="http://secondlife.com/">
    <link rel="stylesheet" type="text/css" href="/game/home.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/game/slick.css"><!-- Global -->

    <!--[if IE 6]>
        <link rel="stylesheet" href="/layout/css/ie6.css" type="text/css" media="all" />
        <script src="/layout/js/jquery/plugins/jquery.bgiframe.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="http://common.web.secondlife.com.s3.amazonaws.com/_js/global-ie6-min.js" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                DD_belatedPNG.fix('#global-nav li a.nav-item:hover,#global-nav li:hover a.nav-item,a#language-drop,a#language-drop span,#global-search a,#global-search-form form div,#global-search-form form div button,#sl-logo a,ul#sidebar-nav li.nav-item a,li#footer-download a,.qp_next,.qp_prev,#widgetFriendsOnlinePagination a,.highlight-item span a,.profile_link,.green_sm,.green_lg,.button-left,.button-right,#global-footer,#global-search-form button,#downloadbox,#submit-ticket-btn,#contact-support,a.global-buttons,.at300bs,#main-cta');
                $('#global-nav li div.sub-nav').bgiframe();
            });
        </script>
    <![endif]-->


    <script type="text/javascript" src="/game/geolocation.js"></script>
    <script id="sltracker" type="text/javascript" src="/game/tracker.js"></script>
    <!-- 底部框框 -->
    <!-- <script id="slcookieconsent" type="text/javascript" src="/game/script.js"></script> -->
    <script async="true" type="text/javascript" src="/game/roundtrip.js"></script>
    <script async="true" type="text/javascript" src="/game/scheme.js"></script>
    <div style="width: 1px; height: 1px; display: inline; position: absolute;">
    <!-- <img height="1" width="1" style="border-style:none;" alt="" src="/game/out">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(1)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(2)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(3)">
    </div>
    <div style="width: 1px; height: 1px; display: inline; position: absolute;">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(4)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(5)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(6)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(7)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(8)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(9)">
    <img height="1" width="1" style="border-style:none;" alt="" src="/game/out(10)"> -->
    </div>
</head>

<!-- body  -->
<body>

    
<div id="navbar">
    <div id="logoWrapper">
        <!-- <img src="/game/SL_Logo_Homepage.svg" name="slLogo" id="logoImg"> -->
    </div>
    <img src="/game/Gripper.png" name="navgrip" id="navGrip">
    <ul id="navMenu">
        <li id="language">
            <a>中文简体 <span></span></a>
            <ul>
                <li><a href="http://secondlife.com/?lang=en-US">中文繁体</a></li>
                <li><a href="http://secondlife.com/?lang=en-US">English</a></li>
                <li><a href="http://secondlife.com/?lang=ja-JP" lang="ja" hreflang="ja">日本語</a></li>
                <li><a href="http://secondlife.com/?lang=de-DE">Deutsch</a></li>
                <li><a href="http://secondlife.com/?lang=fr-FR">Français</a></li>
                <li><a href="http://secondlife.com/?lang=es-ES">Español</a></li>
                <li><a href="http://secondlife.com/?lang=pt-BR">Português</a></li>
                <li><a href="http://secondlife.com/?lang=it-IT">Italiano</a></li>
                <li><a href="http://secondlife.com/?lang=tr-TR">Türkçe</a></li>
                <li><a href="http://secondlife.com/?lang=ru-RU">Русский</a></li>
            </ul>
        </li>
        <li id="logIn">
            <a href="">登录</a>
        </li>
        <li id="signUp">
            <a href="">注册</a>
        </li>
    </ul>
</div>

<!-- 首页轮播图片 *********************************************************-->

<div id="hero">
    <img src="/game/Hero_LeftArrow.png" id="heroLeft" name="slideLeft">
    <img src="/game/Hero_RightArrow.png" id="heroRight" name="slideRight">
    <div id="slideDotSection">
        <span class="slideDot"></span>
        <span class="slideDot active"></span>
        <span class="slideDot"></span>
    </div>

    <div class="heroSlide hs1" style="opacity: 0;">
        <div class="slideText">
            <h1>虚拟即现实</h1>
            <p>现实世界埋没的欲望,未来之城统统还给你<br class="mdBreak"> 未来之城是一个全新的数字 化虚 拟与现实结合的世界，世界因你的加入而改变...</p>
            <p><a class="learnMore" href="">查看更多</a></p>
            <p><a class="joinButton" href="">加入我们</a></p>
        </div>
    </div>

    <div class="heroSlide hs2 active" style="opacity: 1;">
        <div class="slideText">
            <h1>释放自我</h1>
            <p>地产、商城、影城、美食、酒店...你想不到的，这里都有</p>
            <p><a class="learnMore" href="">查看更多</a></p>
            <p><a class="joinButton" href="">加入我们</a></p>
        </div>
    </div>

    <div class="heroSlide hs3" style="opacity: 0;">
        <div class="slideText">
            <h1>成为创业者</h1>
            <p>在虚拟世界里创业,从虚拟世界中赚取真实的利润</p>
            <p><a class="learnMore" href="">查看更多</a></p>
            <p><a class="joinButton" href="">加入我们</a></p>
        </div>
    </div>
</div>

<!-- 中间产品展示****************************************************************************** -->

<div class="contentArea" id="cardContentArea">
    <h2 class="contentHeader">探索未来之城</h2>
    <div id="cardWrapper">
        <div class="imageCard ic1">
            <div class="cardHead">
                <div class="headWrap">
                    <h1>角色创建</h1>
                </div>
            </div>
            <div class="cardText">
                <div class="cardTextWrapper">
                    <p>玩家注册成功后，则成为游戏普通会员，也就是普通玩家;首先会进到一个选择角
色的界面，未来之城里的角色由你来创造</p>
                    <p><a href="">查看更多</a></p>
                </div>
            </div>
        </div>

        <div class="imageCard ic2">
            <div class="cardHead">
                <div class="headWrap">
                    <h1>社团组织</h1>
                </div>
            </div>
            <div class="cardText">
                <div class="cardTextWrapper">
                    <p>在未来之城里，无穷无尽的乐趣正等待着你。玩家花费游戏币或小贝壳，可创建社团，开创社团的玩家默认成为会长</p>
                    <div id="cardButtonWrap">
                        <a class="cardButton" href="">社团任务</a>
                        <a class="cardButton" href="">社团捐助</a>
                        <a class="cardButton" href="">社团商店</a>
                        <a class="cardButton" href="">社团福利</a>
                        <a class="cardButton" href="">社团宣战</a><br>
                    </div><br>
                </div>
            </div>
        </div>

        <div class="imageCard ic3">
            <div class="cardHead">
                <div class="headWrap">
                    <h1>挖矿</h1>
                </div>
            </div>
            <div class="cardText">
                <div class="cardTextWrapper">
                    <p>玩家可操控角色前往矿区进行挖矿，挖矿可获得各种矿物原材料，可用于制造功
能，制造出各种武器、道具;例如:匕首、矿镐、刀、斧头、手枪、大炮、铠甲</p>
                    <p><a href="">查看更多</a></p>
                </div>
            </div>
        </div>

        <div class="imageCard ic4">
            <div class="cardHead">
                <div class="headWrap">
                    <h1>房产</h1>
                </div>
            </div>
            <div class="cardText">
                <div class="cardTextWrapper">
                    <p>用你的地皮创造你梦想的家，私人空间或商业，地皮可以是现实世界的买卖</p>
                    <p><a href="">查看更多</a></p>
                </div>
            </div>
        </div>

        <div class="imageCard ic5">
            <div class="cardHead">
                <div class="headWrap">
                    <h1>教育</h1>
                </div>
            </div>
            <div class="cardText">
                <div class="cardTextWrapper">
                    <p>在未来之城里一样可以学习，在闲暇之余，想学习的时候走进学校，学习你想学习的知识</p>
                    <p><a href="">查看更多</a></p>
                </div>
            </div>
        </div>

        <div class="imageCard ic6">
            <div class="cardHead">
                <div class="headWrap">
                    <h1>商场</h1>
                </div>
            </div>
            <div class="cardText">
                <div class="cardTextWrapper">
                    <p>你可以成为商家，在未来之城里面开店，前提是你有地皮<br class="mdBreak">当然，你也可以成为买家，买你想要的一切，要是你在商城里里面偷窃，很可能被警察击毙</p>
                    <p><a href="">查看更多</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 未来产品展示****************************************************************************** -->

<div class="contentArea" id="destinationContentArea">
    <h2 class="contentHeader">未来场景</h2>
    <ul id="destinationNav">
        <li><a class="editor selected">未来赌场</a></li>
        <li><a class="events">未来狩猎</a></li>
        <li><a class="popular">未来创业</a></li>
        <li><a class="newbie">未来城市</a></li>
    </ul>
    <div id="destinationGallery" class="slick-initialized slick-slider">
        <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>        
        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" role="listbox" style="opacity: 1; width: 8613px; transform: translate3d(-1044px, 0px, 0px);">
                <div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 261px;">
		          <a href="http://secondlife.com/destination/inspirationsl" class="test" tabindex="-1">
			         <img src="/game/59458aab65ec4206491927.png">
			         <h2>InspirationSL</h2>
		          </a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 261px;">
        		<a href="http://secondlife.com/destination/pictures-of-the-floating-world" class="test" tabindex="-1">
        			<img src="/game/593f09c05cb2e578754711.jpg">
        			<h2>Pictures of the Floating World</h2>
        		</a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 261px;">
            		<a href="http://secondlife.com/destination/lost-cruise-ship" class="test" tabindex="-1">
            			<img src="/game/598786915f041493295790.jpg">
            			<h2>The Lost Cruise Ship</h2>
            		</a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 261px;">
            		<a href="http://secondlife.com/destination/horizons" class="test" tabindex="-1">
            			<img src="/game/58260ab60342f193178743.png">
            			<h2>Horizons</h2>
            		</a>
                </div>
                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 261px;">
            		<a href="http://secondlife.com/destination/black-white-exhibition" class="test" tabindex="0">
            			<img src="/game/59a337b9100a6303569157.jpg">
            			<h2>扑克</h2>
            		</a>
                </div>
                <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 261px;">
            		<a href="http://secondlife.com/destination/seven" class="test" tabindex="0">
            			<img src="/game/5990a6995c2f2611862611.jpg">
            			<h2>私人包间</h2>
            		</a>
                </div>
                <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 261px;">
            		<a href="http://secondlife.com/destination/a-steamy-mystery-at-terradale" class="test" tabindex="0">
            			<img src="/game/5990a9bcccac1974335469.jpg">
            			<h2>麻将</h2>
            		</a>
                </div>
                <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 261px;">
        		<a href="http://secondlife.com/destination/wild-wild-west" class="test" tabindex="0">
        			<img src="/game/5995d26b7ebae049015103.jpg">
        			<h2>骰子</h2>
        		</a>
                </div>
                <div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 261px;">
        		<a href="http://secondlife.com/destination/willowvale" class="test" tabindex="-1">
        			<img src="/game/5990b0efc5191015054651.jpg">
        			<h2>偷窃</h2>
        		</a>
                </div>
                <div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 261px;">
        		<a href="http://secondlife.com/destination/enchantment" class="test" tabindex="-1">
        			<img src="/game/5990abd2e3942757185042.jpg">
        			<h2>杀人</h2>
        		</a>
                </div>
                <div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width: 261px;">
        		<a href="http://secondlife.com/destination/the-unenchanted-forest" class="test" tabindex="-1">
        			<img src="/game/5990a7ae9116c086498605.png">
        			<h2>The Unenchanted Forest</h2>
        		</a>
                </div>
                <div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width: 261px;">
            		<a href="http://secondlife.com/destination/sci-fi-museum-hub" class="test" tabindex="-1">
            			<img src="/game/59878e7c8318f410491907.jpg">
            			<h2>Sci-Fi Museum and Hub</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide08" style="width: 261px;">
            		<a href="http://secondlife.com/destination/future-cica-ghost" class="test" tabindex="-1">
            			<img src="/game/598792391f658066653035.jpg">
            			<h2>Future by Cica Ghost</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="9" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide09" style="width: 261px;">
            		<a href="http://secondlife.com/destination/1950s-1960s-america-time-portal" class="test" tabindex="-1">
            			<img src="/game/598223d1db08c369214514.jpg">
            			<h2>1950s &amp; 1960s America in Time Portal</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="10" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide010" style="width: 261px;">
            		<a href="http://secondlife.com/destination/coral-garden-of-amarantha" class="test" tabindex="-1">
            			<img src="/game/598b4239d41e7399432576.jpg">
            			<h2>The Coral Garden of Amarantha</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide011" style="width: 261px;">
            		<a href="http://secondlife.com/destination/seven-days" class="test" tabindex="-1">
            			<img src="/game/5982213cb58fc621473043.jpg">
            			<h2>Seven Days</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="12" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide012" style="width: 261px;">
            		<a href="http://secondlife.com/destination/vimmershavn" class="test" tabindex="-1">
            			<img src="/game/59822f0523585750377194.jpg">
            			<h2>Vimmershavn</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="13" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide013" style="width: 261px;">
            		<a href="http://secondlife.com/destination/eclipse-tiny-place" class="test" tabindex="-1">
            			<img src="/game/59823523c0d41733938590.jpg">
            			<h2>Eclipse Tiny Place</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="14" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide014" style="width: 261px;">
            		<a href="http://secondlife.com/destination/aqua" class="test" tabindex="-1">
            			<img src="/game/5974f8020dcd9099351357.png">
            			<h2>aQua</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="15" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide015" style="width: 261px;">
            		<a href="http://secondlife.com/destination/myths-mystics-elements-of-nature" class="test" tabindex="-1">
            			<img src="/game/5974fca9bf9d9894901924.jpg">
            			<h2>Myths, Mystics and Elements of Nature</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="16" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide016" style="width: 261px;">
            		<a href="http://secondlife.com/destination/sr-redemption" class="test" tabindex="-1">
            			<img src="/game/5975028910182490456162.jpg">
            			<h2>SR Redemption </h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="17" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide017" style="width: 261px;">
            		<a href="http://secondlife.com/destination/split-screen-installation-space-lea" class="test" tabindex="-1">
            			<img src="/game/59765f4f738b7975787123.jpg">
            			<h2>Split Screen Installation Space</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="18" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide018" style="width: 261px;">
            		<a href="http://secondlife.com/destination/tudor-london-time-portal" class="test" tabindex="-1">
            			<img src="/game/596fbb0f5b843408643637.jpg">
            			<h2>Tudor London in Time Portal</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="19" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide019" style="width: 261px;">
            		<a href="http://secondlife.com/destination/sol-and-mani" class="test" tabindex="-1">
            			<img src="/game/5966684b5fc56993900125.jpg">
            			<h2>Sol and Mani</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="20" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide020" style="width: 261px;">
            		<a href="http://secondlife.com/destination/berg-nordan-art-the-swamp" class="test" tabindex="-1">
            			<img src="/game/595176485d8bb841082939.jpg">
            			<h2>Berg by Nordan Art</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="21" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide021" style="width: 261px;">
            		<a href="http://secondlife.com/destination/inspirationsl" class="test" tabindex="-1">
            			<img src="/game/59458aab65ec4206491927.png">
            			<h2>InspirationSL</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="22" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide022" style="width: 261px;">
            		<a href="http://secondlife.com/destination/pictures-of-the-floating-world" class="test" tabindex="-1">
            			<img src="/game/593f09c05cb2e578754711.jpg">
            			<h2>Pictures of the Floating World</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="23" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide023" style="width: 261px;">
            		<a href="http://secondlife.com/destination/lost-cruise-ship" class="test" tabindex="-1">
            			<img src="/game/598786915f041493295790.jpg">
            			<h2>The Lost Cruise Ship</h2>
            		</a>
                </div>
                <div class="slick-slide" data-slick-index="24" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide024" style="width: 261px;">
            		<a href="http://secondlife.com/destination/horizons" class="test" tabindex="-1">
            			<img src="/game/58260ab60342f193178743.png">
            			<h2>Horizons</h2>
            		</a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="25" aria-hidden="true" tabindex="-1" style="width: 261px;">
            		<a href="http://secondlife.com/destination/black-white-exhibition" class="test" tabindex="-1">
            			<img src="/game/59a337b9100a6303569157.jpg">
            			<h2>The Black &amp; White Exhibition</h2>
            		</a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="26" aria-hidden="true" tabindex="-1" style="width: 261px;">
            		<a href="http://secondlife.com/destination/seven" class="test" tabindex="-1">
            			<img src="/game/5990a6995c2f2611862611.jpg">
            			<h2>Seven</h2>
            		</a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="27" aria-hidden="true" tabindex="-1" style="width: 261px;">
            		<a href="http://secondlife.com/destination/a-steamy-mystery-at-terradale" class="test" tabindex="-1">
            			<img src="/game/5990a9bcccac1974335469.jpg">
            			<h2>A Steamy Mystery at Terradale</h2>
            		</a>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="28" aria-hidden="true" tabindex="-1" style="width: 261px;">
            		<a href="http://secondlife.com/destination/wild-wild-west" class="test" tabindex="-1">
            			<img src="/game/5995d26b7ebae049015103.jpg">
            			<h2>Wild Wild West</h2>
            		</a>
                </div>
            </div>
        </div>
        
        
    
        
<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button></div>
    <p>
        <!-- <a href="http://secondlife.com/destinations/?lang=en-US">See All Destinations</a> -->
        <a href="">未来之城钱包下载</a>
    </p>
</div>

<div class="contentArea" id="videoContentArea">
    <h2 class="contentHeader">做未来之城的主人</h2>
    <div id="videoSuperWrapper">
        <div id="videoWrapper">
            <div id="videoEmbed"></div>
        </div>
        <img src="/game/Drax_Video.jpg" id="videoImage" alt="Meet Second Life Residents" name="contentVideo">
        <img src="/game/PlayBtn_Large.png" id="playBtn" alt="Meet Second Life Residents" name="playBtn">
    </div>
    <p>未来之城 <em>满足你的所有欲望</em> 在未来之城中创造财富，在未来之城中做真正的自己.</p>
    <div id="watchMore"><a href="">查看更多</a></div>
</div>
<div id="footer">
    <div id="footerLinks">
        <ul>
            <li><h2>关于我们</h2></li>
            <li><a href="">联系</a></li>
            <li><a href="">关于</a></li>
            <li><a href="">工作</a></li>
            <li><a href="">新闻</a></li>
        </ul>

        <ul>
            <li><h2>更多产品</h2></li>
            <li><a href="">产品1</a></li>
            <li><a href="">产品2</a></li>
        </ul>

        <ul>
            <li><h2>未来之城</h2></li>
            <li><a href="">商场</a></li>
            <li><a href="">指南</a></li>
            <li><a href="">宝箱</a></li>
            <li><a href="">场景</a></li>
            <li><a href="">下载</a></li>
            <li><a href="">博客</a></li>
        </ul>

        <ul>
            <li><h2>联系我们</h2></li>
            <li><a href=""><img src="/game/fbIcon.png" alt="Facebook" name="facebook icon">Facebook</a></li>
            <li><a href=""><img src="/game/twitterIcon.png" alt="Twitter" name="twitter icon">Twitter</a></li>
            <li><a href=""><img src="/game/ytIcon.png" alt="Youtube" name="youtube icon">YouTube</a></li>
            <li><a href=""><img src="/game/flickrIcon.png" alt="Flickr" name="flickr icon">Flickr</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Email Preferences</a></li>
        </ul>

        <ul>
            <li><h2>商业合作</h2></li>
            <li><a href="">业务开发</a></li>
            <li><a href="">合作计划</a></li>
        </ul>
    </div>
    <hr>
    <ul id="bottom">
        <li><a href="">SL 限制性条款</a></li>
        <li><a href="">LL 服务条款</a></li>
        <li><a href="">LL 隐私策略</a></li>
        <li>© 2017  All Rights Reserved.</li>
    </ul>
</div>

    <script src="/game/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/game/home-js-min.js"></script>
</body>
</html>